 body{
  margin: 0;
  padding: 0;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    max-width: 200px;
    min-height: 100vh;
    background: white;
}
  .accordion {
    background-color: #2b93ac;
    color: white;
    padding: 18px;
    width: 100%;
    text-align: left;
    font-size: medium;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: white;
    outline: none;
    transition: 0.5s;
    cursor: pointer;
  }
 .content {
    padding: 15px;
    background-color: #e8f4f7;
    display: none;
    overflow: hidden;
  }